example/example1.json
[
  {
    "id": "360d939a.569dcc",
    "type": "tab",
    "label": "Chung Tran",
    "disabled": false,
    "info": ""
  },
  {
    "id": "82d38fd3.3c22",
    "type": "openweather",
    "z": "360d939a.569dcc",
    "name": "Cloud openweather",
    "lon": "108.14",
    "lat": "12.076",
    "cloud": "50",
    "battery": "20",
    "repeat": "0.5",
    "x": 590,
    "y": 260,
    "wires": [["f31a75f0.3a0e08"]]
  },
  {
    "id": "da5cbdea.6fe7a",
    "type": "inject",
    "z": "360d939a.569dcc",
    "name": "",
    "topic": "",
    "payload": "10.1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 220,
    "wires": [["df64b9c7.db18c8"]]
  },
  {
    "id": "f31a75f0.3a0e08",
    "type": "debug",
    "z": "360d939a.569dcc",
    "name": "Log1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 790,
    "y": 260,
    "wires": []
  },
  {
    "id": "df64b9c7.db18c8",
    "type": "function",
    "z": "360d939a.569dcc",
    "name": "format battery state",
    "func": "\n//msg.batteryState = msg.payload;\n//return msg;\n\ntry {\n    msg.batteryState = parseFloat(msg.payload);\n    if ((0 <= msg.batteryState) && (msg.batteryState <=100))\n        return msg;\n} catch (e) {\n    return;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 260,
    "wires": [["82d38fd3.3c22"]]
  },
  {
    "id": "a3f8967f.48ada8",
    "type": "inject",
    "z": "360d939a.569dcc",
    "name": "",
    "topic": "",
    "payload": "30.5",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 320,
    "wires": [["df64b9c7.db18c8"]]
  },
  {
    "id": "9a328d33.3ef27",
    "type": "function",
    "z": "360d939a.569dcc",
    "name": "format battery state",
    "func": "\n//msg.batteryState = msg.payload;\n//return msg;\n\ntry {\n    msg.batteryState = parseFloat(msg.payload);\n    if ((0 <= msg.batteryState) && (msg.batteryState <=100))\n        return msg;\n} catch (e) {\n    return;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 460,
    "wires": [["9c61c5f3.981238"]]
  },
  {
    "id": "9c61c5f3.981238",
    "type": "openweather",
    "z": "360d939a.569dcc",
    "name": "Cloud openweather",
    "lon": "2.0957",
    "lat": "52.4679",
    "cloud": "50",
    "battery": "20",
    "repeat": "0.5",
    "x": 610,
    "y": 460,
    "wires": [["5d7ffd0a.265de4"]]
  },
  {
    "id": "5d7ffd0a.265de4",
    "type": "debug",
    "z": "360d939a.569dcc",
    "name": "Log2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 790,
    "y": 460,
    "wires": []
  },
  {
    "id": "80287a3a.04de58",
    "type": "inject",
    "z": "360d939a.569dcc",
    "name": "",
    "topic": "",
    "payload": "10.1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 420,
    "wires": [["9a328d33.3ef27"]]
  },
  {
    "id": "b688b05d.ef9b7",
    "type": "inject",
    "z": "360d939a.569dcc",
    "name": "",
    "topic": "",
    "payload": "30.5",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 520,
    "wires": [["9a328d33.3ef27"]]
  }
]
